<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Collections
        <small>list of all collections</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Collections</a></li>
        <li class="active"></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <h5 class="subtitle mb5">Collections list</h5>
            <div class="box">
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Count</th>
                                <th>All items</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in rows">
                            <td><a href="" ui-sref="documents({ name: row.name })">{{ row.display_name }}</a></td>
                            <td>{{ row.count | number }}</td>
                            <td>
                                <a href="" ui-sref="documents({ name: row.name })">View</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">

        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Add collection</h3>
          </div>

          <!-- /.box-header -->
          <div class="box-body">
            <form role="form" method="POST" ng-submit="submit()">
              <div class="form-group">
                <label>Collection name</label>
                <input type="text" ng-model="collection.name" class="form-control" placeholder="Title...">
              </div>

              <div class="form-group">
                <label>URL (json)</label>
                <input type="text" name="url"  ng-model="collection.url" class="form-control" placeholder="URL...">
              </div>

              <!-- textarea -->
              <div class="form-group">
                <label>Items (json)</label>
                <textarea name="data" ng-model="collection.data" class="form-control" rows="3" placeholder="Raw data"></textarea>
              </div>

              <div class="box-footer">
                <button type="submit" ng-disabled="submitText !== 'Submit'" class="btn btn-info pull-right" style="margin-left: 5px;">{{ submitText }}</button>
              </div>

            </form>
          </div>
          <!-- /.box-body -->
        </div>

      </div>
    </div>





</section>


<!-- /.content -->
